<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andy.accuride">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity2" />

        <!-- Theme is to make the window disappear when you click outside it -->
        <activity
            android:name=".GoPopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".CardfareActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".AnnouncementActivity" />
        <activity android:name=".LasttrainActivity" />
        <activity android:name=".lastEWtimingsActivity" />
        <activity android:name=".lastNStimingsActivity" />
        <activity android:name=".lastNEtimingsActivity" />
        <activity android:name=".lastCCtimingsActivity" />
        <activity android:name=".lastDTtimingsActivity" />
        <activity android:name=".lastLRTtimingsActivity" />

    </application>

</manifest>